body{
    font-family: "Montserrat";
}


#title{
    background-color: #ff4c68;
    color: #fff;
    overflow: hidden;
}

#tagline{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

#title .container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

.down-btn{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
}

.img-div{
    display: flex;
    justify-content: center;
}

#features{
    margin: 50px 0 50px 0;
    padding-top: 150px;
    padding-bottom: 150px;
}

.feature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.feature-icon{
    font-size: 100px;
    color: #ef8172;
    margin-bottom: 10px;
}

.feature-icon:hover{
    color: #ff4c68;
}

.feature h3{
    font-weight: 900;
    font-size: 1.5rem;
}

.feature p{
    color: #8f8f8f;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#testimonials h2{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
}

.testimonial-img{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#testimonials em{
    font-size: 1.5rem;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    margin: 1.5%;
}

.carousel-item{
    padding: 7% 15%;
}